@use "../../scss/index.scss" as *;

.admin-dashboard {
    background-color: $main-bg;
    display: flex;

    .main {
        width: calc(100% - $sidebar-width);
        margin-left: $sidebar-width;
    }
}
