@use "../../scss/index.scss" as *;

.sidebar {
    box-shadow: $box-shadow;
    width: $sidebar-width;
    background-color: $main-bg;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    &-logo {
        padding: 18px 12px;
        @include flex(center, center);

        span {
            font-size: 2rem;
            color: $txt-color;
            margin-left: 12px;
        }
    }

    &-menu {
        padding: 0 12px;

        &__list {
            @include flex(flex-start, center);

            padding: 12px 0;
            padding-left: 18px;
            width: 100%;
            border-radius: 15px;

            &:hover {
                transition: all 0.3s $transition-cubic;
                cursor: pointer;
                user-select: none;
            }

            &:hover &-name,
            &:hover &-icon {
                color: $hover-color;
            }

            &.active {
                background-color: $hover-color;
            }

            &.active &-name,
            &.active &-icon {
                color: $txt-hover-color;
            }

            &-icon {
                color: $txt-color;
                margin-right: 12px;
                svg {
                    font-size: 2.5rem;
                }
            }

            &-name {
                font-size: 1.6rem;
                color: $txt-color;
            }
        }
    }
}
